#
# MIT License
#
# Copyright (c) 2020 - Present Aaron Ma.
# All Rights Reserved.
#
# This file is part of the Algorithms repository,
# by using this file you have agreed to abide
# by the license at all times.
#
# @file .gitignore
#
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Editor config
.vscode
.idea

# CMake Cache
build

# Code Playground
playground/
